
<div class="card card__large">
    <article>
            {% if image %}
                <figure class="figure">
                    <img class="figure__card-image" src={{ image }} alt={{ image_title }}>
                    <figcaption>{{ legende_image }}</figcaption>
                </figure>
            {% endif %}
            <div class="card_contain">
                <h3 class="card__title">
                    <a href="card__link" href={{ card_link }}>{{ card_title }}</a>
                </h3>
                <div class="card__author">By {{ name_author |join(', ', ' and ') }}</div>
                <p class="content">{{content}}</p>
            </div>
    </article>

</div>