
<div class="card card__normal">
    <div class="card{{ card_category }}">
        <article>
            <!--  Optional CATEGORY component-->
            {% if category in category == true %}
            {% include "templates/category.twig" with {
                category: category,
            }%}
            {% endif %}
            <div class="card__items">
                <!--  Optional FIGURE component-->
                {% if image %}
                    <figure class="figure">
                        <img class="figure__card-image" src={{ image }} alt={{ image_title }}>
                        <figcaption>{{ legende_image }}</figcaption>
                    </figure>
                {% endif %}
                <div class="card_contain">
                    <div class="contain_title_arrow">
                        <h3 class="card__title">{{ card_title_link }}
                            {% if material_icons == true %}
                            <span class="material-icons">call_made</span>
                            {% endif %}
                        </h3>
                    </div>
                    <!--map or loop or join-->
                    <div class="card__author">By {{name_author| join(', ')}}</div>
                        <p class="content">{{content}}</p>
                </div>
            </div>
        </article>
    </div>
</div>
