
<div class="card card__large">
    <article>
        <div class="card__wrapper">
            <!--  Optional FIGURE component-->
            <!--  document et un élément <figcaption> pour définir une légende pour la photo:-->        
            {% if image %}
                <figure class="figure">
                    <img class="figure__card-image" src={{ image }} alt={{ image_title }}>
                    <figcaption>{{ legende_image }}</figcaption>
                </figure>
            {% endif %}
            <div class="card_contain">
                <h3 class="card__title">
                    <a href="card__link" href={{ card_link }}>{{ card_title }}</a>
                </h3>
                <!--map or loop-->
                <div class="card__author">By {{ name_author }}</div>
            </div>
        </div>
    </article>

</div>