<section class="section {{ modifier_classes }}">
    <div class="l-constrain">
        <header class="section--second__header">
                <h2 class="section--second__title">{{ section_title }}</h2>
                <a class="section--second-header__link" href="{{ section_link_url }}">{{ section_link_text }}</a>
        </header>
        {#Intro #}
        {% if section_intro %}
        <div class="section--second__intro">{{section_intro}}</div>
        {% endif %}
        {#Grid #}
        <div class="section--second__grid_second">
        {% block section_content %}
        {% endblock %}
        </div>
        {#Footer #}
        <div class="section--second__footer">
        {% block section_footer %}
        {% endblock %}
        </div>
    </div>
</section>